/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    width: 500px;
    margin: auto;
    margin-top: 40px;
}
.title {
    font-family: 'Comic Sans MS';
    font-size: 40px;
}

#submit {
    width: 200px;
    padding: 12px;
    margin-top: 15px;
    font-size: 20px;
}
.message {
    font-size: 22px;
    margin-bottom: 20px;
}
.board {
    width: 300px;
    height: 300px;
    margin: auto;
    display: grid;
    background: pink;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.cell {
    border: 2px solid black;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#input-section {
    width: 250px;
    margin: 0 auto;
}

/* Label + Input Same Line */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

/* Label thoda chhota, input thoda bada */
.row label {
    width: 70px;
    font-size: 14px;
}

/* Input box size fixed */
#input-section input {
    width: 150px;
    padding: 5px 8px;
    font-size: 14px;
}

/* Start button center me */
#startBtn {
    display: block;
    margin: 15px auto 0;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
}

